html,body {
    height: 100%;
    font-family: 'Alegreya SC', serif;
}

.full-height {
    height: 100%;
    position: relative;
}

.center-block {
    font-size: 25px;
    line-height: 22px;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%); /* IE 9 */
    -webkit-transform:translate(0,-50%); /* Opera, Chrome, and Safari */
}
address {
    line-height: 1.2em;
    position: absolute;
    bottom: 0px;
}
address.street {
    float: left;
}
address.digital {
    right: 12px;
    text-align: right;
    float: right;
}
